<nav class="navbar navbar-expand-md navbar-light">
  <a href="#" class="navbar-brand">Gab Bookstore</a>
  <ul class="navbar-nav ms-auto">
    <li class="nav-item">
      <a class="nav-link" href="/books"><i class="fa fa-home"></i> Home</a>
    </li>            
    <li class="nav-item">
      <a class="nav-link" href="/books"><i class="fa fa-plus"></i> Add Book</a>
    </li>
    <li class="nav-item">
      <a class="logout" (click)="logout()"> <i class="fa fa-sign-out-alt"></i> Logout</a> 
    </li>
  </ul>
</nav>
